<style>
    img{
        max-width:300px;
        max-height:300px;
    }

    .product{
        display:flex;

    }

</style>
<h1 style="font-family:Arial">Flowershop</h1>
<h2>Здесь скоро будет полноценный цветочный магазин,а пока...</h2>
<a href="/">Главная </a>
<a href="/products">Товары </a>
<a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Не рикролл </a>
<div class="product">
    <img src="https://i.ibb.co/1bynJGD/2024-06-23-13-27-49.png">
    <h2>Фикус кучерявый</h2>
    <h2>Описание</h2>
</div>