{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">
     <div class="logo">
           <h1><span >Flower</span><span style="color: white ;margin-left:4px;border: 3.5px blue solid; border-radius:15px;background-color: blue">Shop</span></h1>
           <h1>{{ title }}</h1>

     </div>

     <div class="navigation">
         <h2>
             <a class="navlink" href="/">Главная</a>
             <a class="navlink" href="/products">Товары</a>
             <a class="navlink" href="/discounts">Акции</a>
         </h2>
     </div>
</div>

<div class="productlist">
    {% for product in products %}

    <div class="product">
            <img class="productPreview" src="{{ product.image_url }}">
                  <div>
                     <a href="/product/{{ product.id }}">
                         <h2 class="textname">{{ product.name }}</h2>
                     <a/>
                     <h3> {{ product.description }}<h3>
                     <h2 class="prise">Цена: {{product.price}} ₽</h2>
                  </div>
            <a href="/payment/{{ product.id }}">
                  <button class="button">Купить</button>
            </a>
    </div>

    {% endfor %}
</div>
